.plugin_list {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.plugin_list > * {
    margin-bottom: 10px;
}

.plugin {
    width: min-content;
    height: min-content;
    border: 1px solid black;
}